/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar Styling */
.navbar {
  background-color: #005792;
  padding: 0.5em;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  font-size: 1.5em;
  margin: 0;
}

.navbar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* user info */
.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-icon {
  font-size: 1.5rem;
  color: #007bff;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.username {
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffe;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 0.875rem;
}

.logout-btn:hover {
  color: #0056b3;
}

/* Main Body Styling */
.main-body {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

#controls select,
#controls label {
  padding: 5px;
  font-size: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

#map {
  flex: 1;
  height: 500px; /* or use a percentage height */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Info Box Styling */
.info-box {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sub-info-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-box p {
  margin: 5px 0;
}

/* Footer Styling */
/* Footer Styling */
.footer {
  background-color: #005792;
  padding: 0.5em;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer h3 {
  font-size: 1.2em;
  margin: 0;
}

.selection-rectangle {
  position: absolute;
  border: 2px dashed #000;
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  z-index: 1000;
}

.ui-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.ui-button:hover {
  background: rgb(235, 235, 235);
}

#markers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto; /* To handle overflow if the markers don't fit in one line */
  padding: 10px;
  background-color: #f0f0f0;
}

.marker {
  padding: 10px;
  margin: 5px;
  background-color: #007bff; /* Original bluish color */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  flex: 0 0 auto; /* Ensure markers stay on one line */
}

.marker.selected {
  background-color: #0056b3; /* Toned down bluish color */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

.marker-disabled {
  cursor: not-allowed; /* Change cursor to not-allowed */
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.marker:hover {
  background-color: #0056b3; /* Slight change on hover for better UX */
}
/* Basic styling for the popup */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
}

/* Visible class to display the popup */
.popup.visible {
  display: block;
}

/* Overlay styling */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.overlay.visible {
  display: block;
}

/* Styling for the popup header */
.popup h2,
.popup h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

/* Styling for the checkboxes and their labels */
.popup div {
  margin-bottom: 15px;
}

.popup input[type="checkbox"] {
  margin-right: 10px;
}

.popup label {
  font-size: 14px;
}

.popup input[type="text"],
.popup input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the popup buttons */

.popup button:hover {
  background-color: #45a049;
}

/* Styling for the operation dropdown */
#operationContainer {
  margin-bottom: 15px;
}

#operationDropdown {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Styling for the buttons */
.popup button,
#saveMarkers,
#disableMarkerAddingButton,
.markers-btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  font-size: 0.85rem;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}
#disableMarkerAddingButton {
  background-color: #dc3545; /* Red color */
  padding: 10px;
  font-size: 0.85rem;
}

#disableMarkerAddingButton:hover {
  background-color: #c82333; /* Darker red color */
}

#saveMarkers {
  background-color: #28a745; /* Green color */
  padding: 10px;
}

#saveMarkers:hover {
  background-color: #218838; /* Darker green color */
}

#confirmSaveButton {
  background-color: #4caf50;
  color: white;
  margin-bottom: 10px;
}

#cancelButton {
  background-color: #f44336;
  color: white;
}

#confirmSaveButton:hover {
  background-color: #45a049;
}

#cancelButton:hover {
  background-color: #e53935;
}

/* Marker Components */
.marker-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.marker-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.marker-item {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  font-size: 0.85rem;
}

.marker-item.selected {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.marker-details {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.marker-details h2 {
  margin-bottom: 20px;
}

.marker-details div {
  margin-bottom: 10px;
}

.marker-details label {
  display: block;
  margin-bottom: 5px;
}

.marker-details select,
.marker-details input,
.marker-details textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 0.85rem;
}

/* Markjer component and map */
.map-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.marker-component {
  flex: 0 0 20%;
  background-color: #f7f7f7;
  /* padding: 10px; */
  overflow-y: auto;
}

.marker-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  margin: 5px;
}
.marker-options h2 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}
